{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css\about_us.css' %}" rel="stylesheet"/>

<div class="story-text">
    <div class="story-text-text">
            Наша компания основана в 2011 году. И вот уже более 7 лет, мы являемся оператором собственной
            сети вещания indoor-media, которая охватывает более 200 жилых комплексов бизнес и премиум -
            класса города Перми.<br><br> Мы являемся владельцами более 200 видеомониторов в Перми и Пермском крае.
            Наши мониторы размещены в детских поликлиниках, автобусах и фитнес центрах г. Перми.<br><br>  
            А так же мы запустили несколько новых рекламных проектов, таких как Promo Cyclist’s и «билборд»
            на колесах.<br><br> Хочешь, чтобы твою рекламу увидела вся Пермь?
    </div>
</div>

{% endblock %}