<html>
    <head>
        <meta charset="utf-8"/>
        <title>iKofe - {{ title }}</title> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&amp;subset=cyrillic" rel="stylesheet"/>
        <link href="{% static 'css\base.css' %}" rel="stylesheet"/>
        <link rel="icon" href="{% static 'images/icons/favicon.png' %}" type="image/png" />
        <script type="text/javascript" src="{% static 'js\throttle.js' %}"></script>
    </head>
    <body>
        {% if wasMailSent %}
            <script>
                alert('Спасибо ваша заявка была принята,\n Вам перезвонят в ближайшее время');
            </script>
        {% endif %}
        
        <div class="page-wrapper">
            <div id="link-to-top"><a href="#top"><img src="{% static 'images/icons/right_arrow.png' %}" /></a></div>
                <div class="mobile-menu" id="mobileMenu" style="display: none;">
                    <!-- creates from js -->
                </div>

                <div class="header">
                    <div class="header-item">
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo.svg' %}" alt="Лого"/></a>
                    </div>
                    <div class="header-item">
                        <a href="{% url 'video_ad' %}">реклама на мониторах</a>
                    </div>
                    <div class="header-item">
                        <a href="{% url 'elevator' %}">реклама в лифтах</a>
                    </div>
                    <div class="header-item">
                        <div class="header-subitem">
                            <a id="callIcon" href="#form"><img src="{% static 'images/icons/call.svg' %}"/></a>
                        </div>
                        <div class="header-subitem">
                            <a href="https://vk.com/ikofe59" target="_blank"><img src="{% static 'images/icons/VK_white.svg' %}"/></a>
                            <a href="https://facebook.com/ikofe59" target="_blank"><img src="{% static 'images/icons/Facebook_white.svg' %}"/></a>
                            <a href="https://instagram.com/ikofe59" target="_blank"><img src="{% static 'images/icons/Instagram_white.svg' %}"/></a>
                            <a href="https://www.youtube.com/channel/UCtvr5_E_2zOHGxBDkqAvE9A" target="_blank"><img src="{% static 'images/icons/YouTube_white.svg' %}"/></a>
                        </div>
                    </div>
                </div>

                <!--<div id="headerMenu" class="header-menu">
                    <div class="header-menu-items">
                        <div class="header-menu-item"><a href="{% url 'project' %}">наши проекты</a></div>
                        <div class="header-menu-item"><a href="{% url 'about_us' %}">о компании</a></div>
                        <div class="header-menu-item"><a href="{% url 'event' %}">новости</a></div>
                        <div class="header-menu-item"><a href="{% url 'contacts' %}">контакты</a></div>
                    </div>
                </div>-->
                <a name="top"></a>
                {% block content %}
                {% endblock %}

                <div class="feedback">
                    <a name="form"></a>
                    <h1>Напишите нам</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div style="display: flex;">
                            <input checked type="checkbox" /> 
                            <div>Я согласен на обработку моих персональных (в соответствии с Федеральным законом
                            №152-ФЗ "О персональных данных")</div>
                        </div>
                        <input type="submit" value="Оставить заявку" style="cursor: pointer;" />
                    </form>
                </div>

                <div class="footer" id="footer">
                    <div class="footer-wrapper">
                        <div class="footer-contacts">
                            <div class="footer-contacts-label">
                                <a href=""><img src="/static/images/logo.svg"/></a>
                            </div>
                            <div class="footer-contacts-contacts">
                                г.Пермь, ул. Куйбышева 2-321<br>
                                info@ikofe.ru<br>
                                +7 (342) 287-02-07
                            </div>
                        </div>
                        <div class="footer-section">
                            <div class="footer-section-item">
                                <a href="{% url 'video_ad' %}">
                                    реклама на мониторах 
                                    <img class="arrow-icon" src="{% static 'images/icons/forward.svg' %}"/>
                                </a>
                            </div>
                            <div class="footer-section-item">
                                <a href="{% url 'project' %}">
                                    проекты 
                                    <img class="arrow-icon" src="{% static 'images/icons/forward.svg' %}"/>
                                </a>
                            </div>
                            <div class="footer-section-item">
                                <a href="{% url 'about_us' %}">
                                    о компании 
                                    <img class="arrow-icon" src="{% static 'images/icons/forward.svg' %}"/>
                                </a>
                            </div>
                            <div class="footer-section-item">
                                <a href="{% url 'elevator' %}">
                                    реклама в лифтах
                                    <img class="arrow-icon" src="{% static 'images/icons/forward.svg' %}"/>
                                </a>
                            </div>
                            <div class="footer-section-item">
                                <a href="{% url 'event' %}">
                                    новости
                                    <img class="arrow-icon" src="{% static 'images/icons/forward.svg' %}"/>
                                </a>
                            </div>
                            <div class="footer-section-item">
                                <a href="{% url 'contacts' %}">
                                    контакты
                                    <img class="arrow-icon" src="{% static 'images/icons/forward.svg' %}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

        <script>
            document.getElementById('id_name').placeholder = 'Имя';
            document.getElementById('id_phone_number').placeholder = 'Номер телефона';

            if(document.documentElement.clientWidth < 900) {
                document.getElementById('callIcon').href = 'tel:73422870207';
            }

            document.getElementById('id_phone_number').pattern = "[7-8]9[0-9]{9}"
        </script>

        <script type="text/javascript" src="{% static 'js\menu.js' %}"></script>
    </body>
</html>