{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css\elevator.css' %}" rel="stylesheet"/>
				

<div class="banner">
    <div class="banner-left">
        <div class="banner-label">
            <div class="label-top">
                <div class="label-top-links">
                    <a href="{% url 'index' %}">Главная</a>
                    <div class="point"></div>
                    <a href="{% url 'elevator' %}">Реклама в лифтах</a>
                </div>
                <div class="label-top-label">
                    размещение<br>рекламы<br>в лифтах
                </div>
            </div>
            <div class="label-bottom">
                <a href="#form">
                    <span>заказать звонок</span>
                    <img src="{% static 'images/icons/forward.svg' %}" />
                </a>
            </div>
        </div>
    </div>
    <div class="banner-right">
        <img src="{% static 'images/ikofe_banner_4.jpg' %}" />
    </div>
</div>

<div class="partners" id="partnersWrapper">
    <div class="partners-slider-button" id="partnersSliderLeftBtn" style="display: none;">
        <img src="{% static 'images/icons/right_arrow.png' %}" />
    </div>
    <div class="partners-slider" id="partnersSlider">
        <div class="partners-slide"><img src="{% static 'images/partners/audi.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/domru.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/sts.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/toyota.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/pg.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/7ya.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/ff.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/apteka.jpg' %}"></div>
        <div class="partners-slide"><img src="{% static 'images/partners/mdt.jpg' %}"></div>
    </div>
    <div class="white-block"></div>
    <div class="partners-slider-button" id="partnersSliderRightBtn">
        <img src="{% static 'images/icons/right_arrow.png' %}" />
    </div>
</div>

<div class="story-text">
    <div class="story-text-text">
        Реклама в лифтах – вид размещения, стремительно набирающий популярность.
         Заказчики этой услуги убедились на собственном опыте: реклама в лифтах –
          это доступное и эффективное средство донести важную информацию до целевой аудитории,
           будь то продажа товаров или услуг. И мы с удовольствием поможем вам подобрать оптимальный
            район для размещения рекламы в лифтах элитных домов.
    </div>
</div>

<div class="achievements">
    <h1>Более 600 стендов в домах Перми</h1>
    <div class="achievements-table-wrapper">
        <div class="achievements-table">
            <div class="achievements-table-cell" style="border-right: none; border-bottom: none;">
                <img src="{% static 'images/icons/award.svg' %}" />
                <p>Оператор №1 по размещению<br> рекламы в премиум-сегменте </p>
            </div>
            <div class="achievements-table-cell" style="border-right: none; border-bottom: none;">
                <img src="{% static 'images/icons/award.svg' %}" />
                <p>Размещение рекламы без посредников<br> на собственных стендах </p>
            </div>
            <div class="achievements-table-cell" style="border-bottom: none;">
                <img src="{% static 'images/icons/award.svg' %}" />
                <p>0,14 Р - цена одного контакта со<br> стендом</p>
            </div>
            <div class="achievements-table-cell" style="border-right: none;">
                <img src="{% static 'images/icons/award.svg' %}" />
                <p>Первые отклики сразу<br> после размещения</p>
            </div>
            <div class="achievements-table-cell" style="border-right: none;">
                <img src="{% static 'images/icons/award.svg' %}" />
                <p>Скидки на длительное <br>размещение</p>
            </div>
            <div class="achievements-table-cell">
                <img src="{% static 'images/icons/award.svg' %}" />
                <p>100% покрытие центральной<br> части города</p>
            </div>
        </div>
    </div>
</div>

<div class="work-stages">
    <div class="work-stages-left">
        <h1>Этапы работы</h1>
        <div class="work-stages-stages">Производим расчеты</div>
        <div class="work-stages-stages">Формируем медиаплан</div>
        <div class="work-stages-stages">Разрабатываем дизайн</div>
        <div class="work-stages-stages">Отдаем макеты в печать</div>
        <div class="work-stages-stages">Размещаем рекламу</div>
        <div class="work-stages-stages">Предоставляем фотоотчет</div>
    </div>
    <div class="work-stages-right">
        <img src="{% static 'images/ikofe_banner_5.jpg' %}" />
    </div>
</div>

<div class="prices">
    <h1>Сколько стоит размещение</h1>
    <div class="price">
        <div class="price-left">
            <iframe src="https://www.google.com/maps/d/embed?mid=1AILWglygOs0gvd1T1XBNVs7RtqQPq7OT" width="640" height="480"></iframe>
        </div>
        <div class="price-right">
            <div class="price-right-innerWRapper">
                <h2>Пакет Центр</h2>
                <div class="audience-coverage">
                    <span class="audience-coverage-label">В пакет входят жилые комплексы - </span>
                    <span class="audience-coverage-quantity">Астра, Эдельвейс, Арсенал</span>
                </div>
                <ul>
                    <div class="li-wrapper"><li><span>кол-во лифтов 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во этажей 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во квартир 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во жителей 100</span></li></div>
                </ul>
                <a href="#form" class="price-button">
                    <span>От 7,840 Р за 2 недели</span>
                    <img src="{% static 'images/icons/forward.svg' %}" />
                </a>
            </div>
        </div>
    </div>

    <div class="price">
        <div class="price-left">
            <iframe src="https://www.google.com/maps/d/embed?mid=1aIh_lSqOyzDkoTtNqZSXXNv4vRLbyaJh" width="640" height="480"></iframe>
        </div>
        <div class="price-right">
            <div class="price-right-innerWRapper">
                <h2>Пакет Свердловский</h2>
                <ul>
                    <div class="li-wrapper"><li><span>кол-во лифтов 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во этажей 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во квартир 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во жителей 100</span></li></div>
                </ul>
                <a href="#form" class="price-button">
                    <span>От 3,000 Р / месяц</span>
                    <img src="{% static 'images/icons/forward.svg' %}" />
                </a>
            </div>
        </div>
    </div>

    <div class="price">
        <div class="price-left">
            <iframe src="https://www.google.com/maps/d/embed?mid=1MsO8p67yQzzgUgLjIycECOs_ifoXAJhl" width="640" height="480"></iframe>
        </div>
        <div class="price-right">
            <div class="price-right-innerWRapper">
                <h2>Пакет Индустриальный + Парковый</h2>
                <ul>
                    <div class="li-wrapper"><li><span>кол-во лифтов 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во этажей 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во квартир 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во жителей 100</span></li></div>
                </ul>
                <a href="#form" class="price-button">
                    <span>От 8,000 Р / месяц</span>
                    <img src="{% static 'images/icons/forward.svg' %}" />
                </a>
            </div>
        </div>
    </div>

    <div class="price">
        <div class="price-left">
            <iframe src="https://www.google.com/maps/d/embed?mid=1DvJiLdb4IFBfJctOdgoryw__AGXwdrOv" width="640" height="480"></iframe>
        </div>
        <div class="price-right">
            <div class="price-right-innerWRapper">
                <h2>Пакет Мотовилиха</h2>
                <ul>
                    <div class="li-wrapper"><li><span>кол-во лифтов 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во этажей 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во квартир 100</span></li></div>
                    <div class="li-wrapper"><li><span>кол-во жителей 100</span></li></div>
                </ul>
                <a href="#form" class="price-button">
                    <span>От 8,000 Р / месяц</span>
                    <img src="{% static 'images/icons/forward.svg' %}" />
                </a>
            </div>
        </div>
    </div>

</div>

<div class="house-placement" style="background-image: url({% static 'images/ikofe_banner_6.jpg' %});">
    <h1>Мы размещаемся в ЖК Премиум-класса</h1>
    <div class="house-placement-inscription">
        Реклама в лифтах – вид размещения, стремительно набирающий популярность.
         Заказчики этой услуги убедились на собственном опыте: реклама в лифтах – это доступное
          и эффективное средство донести важную информацию до целевой аудитории, будь то продажа
           товаров или услуг. И мы с удовольствием поможем вам подобрать оптимальный район для
            размещения рекламы в лифтах элитных домов.
    </div>
    <div class="house-placement-button">
        <a href="#form">
            <span>Хочу разместить рекламу</span>
        </a>
    </div>
</div>



<script type="text/javascript" src="{% static 'js\partnersSlider.js' %}"></script>
<script>
if(document.documentElement.clientWidth < 500) {
        var sliderPositionCounter = 20; 
        var clientX = 0;
        var slider = document.getElementsByClassName('achievements-table')[0];

        document.onmousemove = function(event) {
            throttle(function(){
                clientX = event.clientX;
            }, 300);
        }

        slider.onmousedown = function(event) {
            let X = event.clientX;
            console.log(X - clientX)
            setTimeout(function(){
                if( X - clientX > 150) {
                    if(sliderPositionCounter - 310 <= -1551) return false;
                    pushSlider(slider, -310, isCounting=false);
                }
                else if (X - clientX < 150) {
                    if(sliderPositionCounter + 310 >= 21) return false;
                    pushSlider(slider, 310, isCounting=false);
                }
                else return false;
            }, 300);
        }

        slider.onmouseup = function(event) {
            event.stopImmediatePropagation();
        }

        function getElemLeft(elem) {
            let left = window.getComputedStyle(elem).left;
            
            left = left.split("")
                        .slice(0, -2)
                        .join("");
            return +left; 
        }


    function pushSlider(elem, dist) {
        let left = getElemLeft(elem);
        slider.style.left = `${left+dist}px`;

        sliderPositionCounter += dist;
    }
}
</script>

{% endblock %}